= render partial: 'layouts/header'
.my-page
  .my-page__main
    .my-page__main__side-box
      .my-page__main__side-box__contents
        .my-page__main__side-box__contents__section
          %h2.my-page__main__side-box__contents__section__title マイページメニュー 
          .my-page__main__side-box__contents__section__list
            .my-page__main__side-box__contents__section__list__profile-register
              プロフィール登録
            .my-page__main__side-box__contents__section__list__profile-edit
              プロフィール編集
            .my-page__main__side-box__contents__section__list__login
              = link_to "ログイン", new_user_session_path, class: 'post'
            .my-page__main__side-box__contents__section__list__logout
              = link_to "ログアウト", destroy_user_session_path, method: :delete
            .my-page__main__side-box__contents__section__list__cledit-register
              = link_to "クレジットカード登録", new_card_path, method: :get
            .my-page__main__side-box__contents__section__list__cledit-edit
              = link_to "クレジットカード情報編集",card_index_path, method: :post
            .my-page__main__side-box__contents__section__list__Exhibition
              出品した商品
            .my-page__main__side-box__contents__section__list__Purchase
              購入した商品
            .my-page__main__side-box__contents__section__list__Inquiry
              お問い合わせ
            .my-page__main__side-box__contents__section__list__Sales
              売上
    .my-page__main-box
      %h2.my-page__main-box__title #{current_user.nickname}さんのマイページ
      .my-page__main-box__panel
        .my-page__main-box__panel__heading
          %h2.my-page__main-box__panel__purchase 購入履歴
        .my-page__main-box__panel__body
          %p.my-page__main-box__panel__body__text 購入した商品がありません

        .my-page__main-box__panel__heading
          %h2.my-page__main-box__panel__exhibition 出品履歴
        .my-page__main-box__panel__body
          %p.my-page__main-box__panel__body__text 出品した商品がありません
///////  ↓部分テンプレートを作り、renderで繋げる
= render partial: 'layouts/footer'