.contena
  .user_new_header
    .logo
      =link_to root_path do
        = image_tag "logo.png", size: "185x49", alt: "フリマのアイコン"
  .user_new_main
    %h2 ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .contents
        .sessions
          .field
            .field__adress
              = f.label :アドレス
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email"
            .field__password
              = f.label :パスワード
              %br/
              = f.password_field :password, autocomplete: "current-password"
            - if devise_mapping.rememberable?
              .field__password_confirmation
                = f.check_box :remember_me
                = f.label :記憶する
            .actions
              = f.submit "ログイン"
      = render "devise/shared/links"
  .user_new_footer
    .info_box
      .privacy プライバシーポリシー
      .terns 利用規約
      .specific 特定商取引に関する表記
    .footer_logo_box
      .footer_center
        .gray
          =link_to root_path do
            = image_tag "logo-white.png", size: "185x49", alt: "フリマのアイコン"