.header
  .logo
    =link_to root_path do
      = image_tag "logo.png", size: "185x49", alt: "フリマのアイコン"
  .search
    = form_with(local: true, method: :get, class: "search-form") do |f|
      = f.text_field :keyword, placeholder: "何かお探しですか？", class: "search-input"
      %button{type: "submit", class:'btn'}
        %i.fas.fa-search
.menu
  .category カテゴリ
  .sign_in
    = link_to "新規登録", new_user_registration_path
    = link_to "サインイン", new_user_session_path

.main
  .main_visual
    .content
      .content_subtitle
        %h2 人生を変えるフリマアプリ
      .content_text
        %p FURIMAはだれでもかんたんに出品・購入できる 
        %br フリマアプリです
      .content_btn
        %a.gBtn 
          = image_tag "google-play-badge.png" ,size: "155x60"
        -# %a.aBtn 
        -# %img{src = "Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg" alt="ダウンロード"}
  .topIntroduction
    .subtitle
      %h2 FURIMAが選ばれる3つの理由
    %ul.lists
      %li.list
        .list__pict
          %span.number 1
          = image_tag "pict-reason-01.jpg", size:"300x300"
        .list__text
          %h3 3分ですぐに出品
        .list__description
          %p スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__pict
          %span.number 2
          = image_tag "pict-reason-02.jpg", size:"300x300"
        .list__text
          %h3 シンプルで使いやすい
        .list__description
          %p めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list
        .list__pict
          %span.number 3
          = image_tag "pict-reason-03.jpg", size:"300x300"
        .list__text
          %h3 手数料業界最安
        .list__description
          %p 最大３％でお得に出品＆購入！
  .topMiddleDl
    .topMiddleDL__inner
      .subtitle
      %h2 会員数日本一位
      .text
      %p FURIMAは、フリマアプリで最も人気。
      %br 出品・購入回数も業界最多です！
      %br ほしかったあの商品に出会えるかもしれません。
      .content_btn
        %a.gBtn 
          = image_tag "google-play-badge.png" ,size: "155x60"

    