- @category_parent_array.each do |parent_categories|
 .TopHeader__Inner__Lists__Left__Category__ParentCategories__List{data: {id: "#{parent_categories.id}"}}
  = link_to "#{parent_categories.name}",categories_path(parent_categories.id), class: "parent_category",id: "#{parent_categories.id}"


= render partial: 'layouts/shipping'
-# 「出品する」ボタン。
-# project://app/views/layouts/_shipping.html.haml