= render partial: 'layouts/header'
.main
  .main__content
    .main__content__top-content
      .main__content__top-content__itembox
        .main__content__top-content__itembox__name
          %h2.product-name 
            = @product.name
        .main__content__top-content__itembox__body
          -# = image_tag "pict-reason-01.jpg", size:"400x400"
          = image_tag @product.images[0].name.url, size:"320x250", class:"head-image"

          -# .main__content__top-content__itembox__body--sub
          -#   = image_tag "pict-reason-01.jpg", size:"100x100", class:"image"  
          -#   = image_tag "pict-reason-01.jpg", size:"100x100", class:"image"
           
        .main__content__top-content__itembox__price 
          %h3.product-price 
            = "￥#{@product.price}"
          .main__content__top-content__itembox__detail
            (税込)
        .main__content__top-content__itembox__Explanation
          = @product.text
  .table
    %table.table__content{ width: "600"}  
      -# subcontentはモデルから引っ張ってくる
      %tr
        %th.category 出品者  
        %td.subcontent 
          = @product.seller.nickname
      %tr
        %th.category カテゴリー  
        %td
          = link_to "#{@category_parent.name}","#"
          %br= link_to "#{@category_child.name}","#"
          = link_to "#{@category_grandchild.name}","#"
      %tr
        %th.category 商品の状態 
        %td.subcontent 
          = @product.condition
      %tr
        %th.category 配送料の負担  
        %td.subcontent 
          = @product.postage
      %tr
        %th.category 発送元の地域  
        %td.subcontent 
          = @product.area
      %tr
        %th.category 発送日の目安 
        %td.subcontent
          = @product.days
  .user-in
    - if user_signed_in? && current_user.id == @product.seller_id
      = link_to '編集', edit_product_path
      = link_to '削除', product_path(@product.id), method: :delete
    - elsif @product.buyer_id
      購入済み
    - else
      = link_to '購入', buy_product_path, class: 'btn-btn-default'
      -# %input{type: "submit", class:'Confirmation-box__btn', value:'購入する'} 

.appBanner
  .inner
    .inner__title
      %h2 だれでもかんたん、人生を変えるフリマアプリ
    .inner__text
      %p 今すぐ無料ダウンロード！
    .inner__icon
      %a.gBtn 
        = image_tag "google-play-badge.png" ,size: "200x90"

= render partial: 'layouts/footer'

= render partial: 'layouts/shipping'
-# 「出品する」ボタン。
-# project://app/views/layouts/_shipping.html.haml