.header
  .logo
    =link_to root_path do
      = image_tag "logo.png", size: "185x49", alt: "フリマのアイコン"
  .search
    = form_with(local: true, method: :get, class: "search-form") do |f|
      = f.text_field :keyword, placeholder: "何かお探しですか？", class: "search-input"
      %button{type: "submit", class:'btn'}
        %i.fas.fa-search
  .menu
    .header__contents__below__search__category
      %span.fas.fa-list-ul.icon
      =link_to "カテゴリーから探す", categories_path, class:"search__category"
      = render partial: "layouts/nav-category", parent: @parents
      //project://app/views/layouts/_nav-category.html.haml
    - if user_signed_in?
      / ユーザーがログインしているか調べる
      / ユーザーがログインしていた時の処理
      %h2
        現在 #{current_user.nickname} さんがログインしています
      / ここを追加します
      %h4
        メールアドレス： #{current_user.email}
      = link_to "ログアウト", destroy_user_session_path, method: :delete
      / ログアウトをする
    - else
      / ユーザーがログインしていなかった時の処理
      %h2 現在ログインしていません
      = link_to "ログイン", new_user_session_path, class: 'post'
      / ログイン画面に移行する
      = link_to "新規登録", new_user_registration_path, class: 'post'
      / 新規登録画面に移行する

-# = link_to '出品', new_product_path
%br/
